@import url("https://use.typekit.net/jdn5txj.css");
body{
    background-color: #000;
    margin: 0;
}
header{
    background-color: #0a751189;
    padding-top: 10px;
    padding-bottom: 10px;

        a{
            color: #c4c4c4;
            font-family: magistral-compressed;
            text-decoration: none;
            font-size: 25px;
            padding-right: 10px;
            font-weight: lighter;
        }
        a.About{
            padding-right: 30px;
        }

    h1{
        padding-left: 10px;
        margin:0%;
        display: inline-block;
        font-weight: normal;
    }
    nav{
        float:right;
    }

}
h1, h2, p{
    color:#c4c4c4;
    font-family: magistral-compressed, Helvetica, sans-serif;
}